.progresscircle {
    background-image: url(../../assets/progress.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    height: 80px;
    margin: auto;
    h4 {
        position: relative;
        top: 33px;
    }
}