.containerCard {
  position: relative;
  perspective: 1000px;
  padding-top: 100px;

  .card {
    position: relative;
    overflow: visible;
    padding-bottom: 60px;
    width: 300px;
    height: 300px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    cursor: pointer;
    transform-origin: bottom;
  }

  .text {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(10%);
    height: fit-content;

    button {
      background-color: rgb(255, 111, 0);
      cursor: pointer;
      position: inherit;
      left: 35%;
      margin-top: -15px;
      width: fit-content;
    }
  }

  &:hover {
    img {
      transform: rotateX(-80deg) translateY(50px) translateZ(-9px);
    }

    .text {
      opacity: 1;
      transform: translateY(-205px);
    }

    .line {
      opacity: 1;
      transform: translateY(-115px);
    }
  }
}

.line {
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 2px;
  height: 90px;
  background-color: white;
}

.containerCard:hover{
  top: 20px;
}

@media (width < 750px) {
  .containerCard:hover{
    top: 80px;
  }
}