main.containerHome {
  // border: 2px solid #1ED400;
  margin: 85px 0 25px;
  padding: 30px 120px 15px;
}

h4.welcome {
  border: 1px solid #ddd;
  width: fit-content;
  padding: 8px 5px;
  background: linear-gradient(
    180deg,
    rgba(118, 171, 174, 1) 0%,
    rgba(77, 101, 107, 1) 12%,
    rgba(49, 54, 63, 1) 25%,
    rgba(34, 40, 49, 1) 50%,
    rgba(49, 54, 63, 1) 75%,
    rgba(77, 101, 107, 1) 88%,
    rgba(118, 171, 174, 1) 100%
  );
}

.containerBio {
  width: 450px;
  margin-top: 55px;
  
  h2 {
    text-align: left;
    font-size: 3rem;
    width: max-content;
    height: 6rem;
  }

  button {
    background-color: transparent;
    border: none;

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }

  .circleRight {
    font-size: 1.2rem;
    position: relative;
    top: 3px;
  }
}

.containerSkills {
  background-color: rgba(28, 28, 28, 0.881);
  text-align: center;
  margin: 150px auto 5px;
  padding: 10px 35px;
  border-radius: 33px;

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }

  .caruselSkills {
    display: flex;
    align-items: center;
    gap: 25px;

    button {
      font-size: 1.5rem;
      height: fit-content;
      margin: auto;
      color: #ddd;
      background-color: rgba(15, 17, 21, 0.598);
      border: none;
      border-radius: 50%;
      padding: 10px 15px;
      
      &:hover {
        background-color: rgba(15, 17, 21, 1);
        color: #fff;
        cursor: pointer; /* Cambiato da 'grabbing' a 'pointer' */
      }
    }

    .skills {
      
      display: flex;
      gap: 25px;
      position: relative;
      overflow: hidden;
        .containerSkill {
          width: 200px;
          flex-shrink: 0; /* Impedisce che gli elementi si restringano */
        }
      }
    }
  }