$bg-color: rgb(34, 40, 49);

nav {position: relative;
    top: 20px;
    width: 50%;
    ul {
        display: flex;
        justify-content: space-around;
        li {
            list-style: none;
        }
    }
}
.containerIconSocial {
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.social-icon {
    font-size: 1.8rem;
}
.loginBtn{
    background-color: rgb(47, 55, 67);
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 5px 10px;

}