main.containerVeryveg {
  margin: 85px 0 25px;
  padding: 30px 120px 15px;


//   border: 3px solid red;

& h1, h2, h3, h4 {
    text-transform: uppercase;

}
.btnleftArrow {
  background-color: #000000a9;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 1.5rem;
  position: absolute;
  left: 45px;  
  top: 185px;
}
.title {
    text-align: center;
}


.containerFigma {
    display: grid;
    grid: auto / 2fr 1fr 2fr;
    grid-template-areas: 
    "title title title"
    "description img1 img2";
    column-gap: 85px;
}
.titleFigma  {
    grid-area: title;
}
.figma1 {
    margin-top: -60px;
    grid-area: img1;
    width: 150%;
    z-index: 100;
}
.figma2 {
    grid-area: img2; 
    width: 40%;
    padding-top: 50px;
    margin-left: 50px;
}
.descriptionFigma {
    grid-area: description;
    text-align: justify;
    padding: 0 15px 0 0;
}
}

@media (width < 1250px) {
    main.containerVeryveg {
        margin: 45px 5px 25px;
        padding: 30px 10px 15px;
        .btnleftArrow {
            border-radius: 50%;
            font-size: 1.3rem;
            position: absolute;
            left: 25px;  
            top: 150px;
          }
    
    .containerFigma {
        width: 90%;
        display: grid;
        grid: auto / 50% 30% 20%;
        grid-template-areas: 
        "title title title"
        "description img1 img1"
        "img2 img2 img2";
        column-gap: 25px;
    }
    .titleFigma  {
        grid-area: title;

    }
    .figma1 {
        margin-top: 40px;
        grid-area: img1;
        width: 80%;
        z-index: 100;
    }
    .figma2 {
        grid-area: img2; 
        width: 40%;
        margin-top: -50px;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    .descriptionFigma {
        grid-area: description;
        text-align: justify;
        padding: 0 10px 0 0;
        margin-right: -20px;
    }
}
}